<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2017 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--命名空间：对应接口类-->
<mapper namespace="com.neuedu.dao.IProductDao">

    <resultMap id="productMap" type="product" autoMapping="true">
        <!--组件的映射-->
        <id column="pid" property="id"></id>

        <!--<result column="cid" property="category_id"></result>-->
        <result column="pname" property="name"></result>
        <result column="pctime" property="create_time"></result>
        <result column="putime" property="update_time"></result>
        <!--配置一对一的映射-->
        <association property="category" column="cid" javaType="com.neuedu.pojo.Category" autoMapping="true">
            <!--属性映射-->
            <id column="cid" property="id"></id>
            <result column="cname" property="name"></result>
            <result column="cstatus" property="status"></result>
            <result column="cctime" property="create_time"></result>
            <result column="cutime" property="update_time"></result>


        </association>
    </resultMap>
    <!--根据id查询商品信息-->
    <!--复杂的映射类型-->
    <select id="findProductById" parameterType="int" resultMap="productMap">

        select p.id pid,p.category_id,p.name pname ,p.subtitle,p.main_image,p.sub_images,p.price,p.stock,p.status pstatus,p.create_time pctime,p.update_time putime,
        c.id cid,c.parent_id,c.name cname,c.status cstatus,c.sort_order,c.create_time cctime,c.update_time cutime
        from neuedu_product p
        join neuedu_category c
        on p.category_id = c.id
        where p.id=#{productid}
    </select>


    <insert id="addProduct" parameterType="product" useGeneratedKeys="true" keyColumn="id">
    insert into neuedu_product (category_id,name,subtitle,main_image,sub_images,detail,price,stock,status,create_time,update_time)
   values (#{category_id} , #{name},#{subtitle},#{main_image},#{sub_images},#{detail},#{price},#{stock},#{status},now(),now())

    </insert>

    <update id="updateProduct" parameterType="product">
        UPDATE neuedu_product
        <set>
            <if test="category_id!=null">
                category_id=#{category_id},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="subtitle!=null">
                subtitle=#{subtitle},
            </if>
            <if test="main_image!=null">
                main_image=#{main_image},
            </if>
            <if test="sub_images!=null">
                sub_images=#{sub_images},
            </if>
            <if test="detail!=null">
                detail=#{detail},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="stock!=null">
                stock=#{stock},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>


        </set>
        <where>
            id=#{id}
        </where>

    </update>

    <!--查询列表-->
    <select id="findProductByPageNo" parameterType="map" resultType="product">

        select id ,category_id,name  ,subtitle,main_image,sub_images,price,stock,status ,create_time ,update_time
          from neuedu_product
        limit #{offSet},#{pageSize}
    </select>



    <select id="findTotalRecord" resultType="long">
        select count(1) from neuedu_product
    </select>


    <select id="findTotalRecordByIdOrName" parameterType="map" resultType="long">
        select count(1) from neuedu_product
        <where>

            <if test="productId!=null">
                and id=#{productId}
            </if>
            <if test="productName!=null">
                and name like #{productName}
            </if>
        </where>
    </select>

    <select id="findProductByIdOrName" parameterType="map" resultType="product">

        select id,category_id,name  ,subtitle,main_image,sub_images,price,stock,status ,create_time ,update_time
        from neuedu_product
        <where>

            <if test="productId!=null">
                and id=#{productId}
            </if>
            <if test="productName!=null">
                and name like #{productName}
            </if>
        </where>

        limit #{offSet} , #{pageSize}

    </select>




    <select id="findProductByIdAndOnline" parameterType="int" resultType="product">

        select id,category_id,name  ,subtitle,main_image,sub_images,price,stock,status ,create_time ,update_time
        from neuedu_product
        <where>

         id=#{productid} and status =1
        </where>

    </select>




    <select id="findProductsByCategoryIdsAndProductName"  parameterType="map"  resultType="product">
        select id,category_id,name  ,subtitle,main_image,sub_images,price,stock,status ,create_time ,update_time
        from neuedu_product
        <where>
        status = 1
        <if test="categoryIds!=null  and categoryIds.size>0">

            and category_id IN
            <foreach collection="categoryIds" item="category" open="("  close=")"   separator=",">
                #{category}
            </foreach>

        </if>

        <if test="productName!=null">
            and name like #{productName}
        </if>

    </where>
        <if test="sortnum==1">
            order by price asc
        </if>
        <if test="sortnum==2">
            order by price desc
        </if>
        limit #{offSet} ,#{pageSize}
    </select>





    <select id="findTotalRecordByIdsOrName" parameterType="map" resultType="long">
        select count(1) from neuedu_product
        <where>
            status = 1
            <if test="categoryIds!=null and categoryIds.size>0">

                and category_id IN
                <foreach collection="categoryIds" item="category" open="("  close=")"   separator=",">
                    #{category}
                </foreach>


            </if>

            <if test="productName!=null">
                and name like #{productName}
            </if>

        </where>
    </select>




</mapper>
